stages:
  - docker-build-push
  - deploy

variables:
  DOCKER_IMAGE_NAME: muhammadyahya32/accommodation-fe
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

docker-build-push:
  stage: docker-build-push
  image: docker:latest
  before_script:
    - apk add --no-cache openssh bash rsync
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - rsync -avz --delete --exclude=node_modules --exclude=.git . $EC2_USER@$EC2_HOST:~/app/
    - ssh $EC2_USER@$EC2_HOST "
        cd ~/app &&
        sudo docker build --build-arg VITE_API_BASE_URL=$VITE_API_BASE_URL -t $DOCKER_IMAGE_NAME:$IMAGE_TAG . &&
        echo '$DOCKER_PASSWORD' | sudo docker login -u '$DOCKER_USERNAME' --password-stdin &&
        sudo docker push $DOCKER_IMAGE_NAME:$IMAGE_TAG
      "
  only:
    - feat/profile

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh bash
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - sed "s|REPLACE_ME_TAG|$IMAGE_TAG|g" k8s/deployment.yaml > k8s/deployment.tmp.yaml
    - mv k8s/deployment.tmp.yaml k8s/deployment.yaml

    - ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app/accommodation-fe/k8s"
    - scp k8s/deployment.yaml k8s/service.yaml k8s/ingress.yaml $EC2_USER@$EC2_HOST:~/app/accommodation-fe/k8s/

    - |
      ssh $EC2_USER@$EC2_HOST "
        sudo k3s kubectl apply -f ~/app/accommodation-fe/k8s/ &&
        sudo k3s kubectl rollout status deployment/accommodation-fe
      "
  only:
    - feat/profile