stages:
  - build
  - docker-push
  - deploy

variables:
  DOCKER_IMAGE_NAME: muhammadyahya32/accommodation-fe
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

docker-push:
  stage: docker-push
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build --build-arg VITE_API_URL=$VITE_API_URL --build-arg VITE_BE2_API_URL=$VITE_BE2_API_URL -t $DOCKER_IMAGE_NAME:$IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$IMAGE_TAG
  only:
    - feat/deploy

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh bash
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - sed "s|REPLACE_ME_TAG|$IMAGE_TAG|g" k8s/deployment.yaml > deployment.yaml

    - ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app/k8s"
    - scp deployment.yaml $EC2_USER@$EC2_HOST:~/app/k8s/deployment.yaml
    - scp k8s/service.yaml $EC2_USER@$EC2_HOST:~/app/k8s/service.yaml
    - scp k8s/ingress.yaml $EC2_USER@$EC2_HOST:~/app/k8s/ingress.yaml

    - ssh $EC2_USER@$EC2_HOST "sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl apply -f ~/app/k8s/deployment.yaml"
    - ssh $EC2_USER@$EC2_HOST "sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl apply -f ~/app/k8s/service.yaml"
    - ssh $EC2_USER@$EC2_HOST "sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl apply -f ~/app/k8s/ingress.yaml"
  only:
    - feat/deploy