stages:
  - build
  - docker-push
  - deploy

variables:
  DOCKER_IMAGE_NAME: ${DOCKER_IMAGE_NAME}
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: eclipse-temurin:21-jdk
  script:
    - chmod +x ./gradlew
    - ./gradlew clean build -x test
    - cp $(find build/libs -name "*.jar" | head -n 1) app.jar
  artifacts:
    paths:
      - app.jar
      - Dockerfile
      - k8s/deployment.yaml
      - k8s/service.yaml
    expire_in: 1 hour

docker-push:
  stage: docker-push
  image: docker:24
  services:
    - name: docker:24-dind
      command: ["--insecure-registry", "registry-1.docker.io"]
  dependencies:
    - build
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build -t $DOCKER_IMAGE_NAME:$IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$IMAGE_TAG
  only:
    - feat/deploy

deploy:
  stage: deploy
  image: alpine:latest
  dependencies:
    - docker-push
  before_script:
    - apk add --no-cache openssh bash
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - |
      printf "apiVersion: v1\nkind: ConfigMap\nmetadata:\n  name: accommodation-config\n  namespace: default\ndata:\n  DATABASE_URL_PROD: \"%s\"\n  DATABASE_USERNAME: \"%s\"\n" \
      "$DATABASE_URL_PROD" "$DATABASE_USERNAME" > configmap.yaml
    - |
      printf "apiVersion: v1\nkind: Secret\nmetadata:\n  name: accommodation-secret\n  namespace: default\ntype: Opaque\nstringData:\n  DATABASE_PASSWORD: \"%s\"\n  JWT_SECRET_KEY: \"%s\"\n" \
      "$DATABASE_PASSWORD" "$JWT_SECRET_KEY" > secret.yaml
    - sed "s|REPLACE_ME_TAG|$IMAGE_TAG|g" k8s/deployment.yaml > deployment.yaml
    - ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app/accommodation-be/k8s"
    - scp deployment.yaml configmap.yaml secret.yaml k8s/service.yaml k8s/ingress.yaml $EC2_USER@$EC2_HOST:~/app/accommodation-be/k8s/
    - |
      ssh $EC2_USER@$EC2_HOST "
        sudo k3s kubectl apply -f ~/app/accommodation-be/k8s/ &&
        sudo k3s kubectl rollout status deployment/accommodation-be -n default
      "
  only:
    - feat/deploy
